# Core functionality - changes here should be rare!
/src/app.py                   @mepritts
/src/backend/database.py      @mepritts
/src/backend/routers/auth.py  @mepritts

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mepritts
